.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #db7e7e;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 800px;
}
.frame .center .track-btn {
  position: relative;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
}
.frame .center .track-btn::before {
  content: '';
  --size: 0;
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  background-image: radial-gradient(circle closest-side, #09f, transparent);
}
.frame .center .track-btn:hover::before {
  --size: 400px;
}
