.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #d39cd1;
}
.frame .atropos {
  position: relative;
  display: block;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
}
.frame .atropos:hover .box {
  background-color: blanchedalmond !important;
}
.frame .atropos.cusStyle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.frame .atropos .atropos-scale {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
}
.frame .atropos .atropos-scale .atropos-rotate {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
}
.frame .atropos .atropos-scale .atropos-rotate .atropos-inner {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
  position: relative;
  overflow: hidden;
}
.frame .atropos .atropos-scale .atropos-rotate .atropos-inner .box {
  width: 100%;
  height: 100%;
  background-color: #0099ff;
  border: 2px solid black;
  transition: background-color 0.5s ease-in-out;
}
