.frame {
  position: relative;
  background-color: #111827;
  transform-style: preserve-3d;

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 1200px;

    .card {
      width: 400px;
      height: 200px;
      box-shadow: 2px 2px 8px 4px rgba(0, 255, 0, 0.3);
      border-radius: 4px;
      border: 1px solid #fff;
      background-color: #000;
      transform-style: preserve-3d;
      transition: 0.5s ease-in-out;

      &:hover {
        // transform: translateZ(100px) rotateX(5deg) rotateY(5deg);
        background-color: red;
      }
    }
  }
}
