.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #1e3242;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.frame .center .warp {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  height: 200px;
}
.frame .center .warp .ring {
  position: absolute;
  width: 200px;
  height: 200px;
}
.frame .center .warp .ring .stripe {
  position: absolute;
  width: 2px;
  height: 20px;
  left: 99px;
  top: 90px;
  background: #c3dcec;
}
.frame .center .warp .ring.ring-1 {
  animation: ring 4s -0.13333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-2 {
  animation: ring 4s -0.26666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-3 {
  animation: ring 4s -0.4s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-4 {
  animation: ring 4s -0.53333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-5 {
  animation: ring 4s -0.66666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-6 {
  animation: ring 4s -0.8s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-7 {
  animation: ring 4s -0.93333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-8 {
  animation: ring 4s -1.06666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-9 {
  animation: ring 4s -1.2s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-10 {
  animation: ring 4s -1.33333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-11 {
  animation: ring 4s -1.46666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-12 {
  animation: ring 4s -1.6s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-13 {
  animation: ring 4s -1.73333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-14 {
  animation: ring 4s -1.86666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-15 {
  animation: ring 4s -2s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-16 {
  animation: ring 4s -2.13333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-17 {
  animation: ring 4s -2.26666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-18 {
  animation: ring 4s -2.4s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-19 {
  animation: ring 4s -2.53333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-20 {
  animation: ring 4s -2.66666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-21 {
  animation: ring 4s -2.8s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-22 {
  animation: ring 4s -2.93333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-23 {
  animation: ring 4s -3.06666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-24 {
  animation: ring 4s -3.2s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-25 {
  animation: ring 4s -3.33333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-26 {
  animation: ring 4s -3.46666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-27 {
  animation: ring 4s -3.6s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-28 {
  animation: ring 4s -3.73333333s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-29 {
  animation: ring 4s -3.86666667s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
.frame .center .warp .ring.ring-30 {
  animation: ring 4s -4s cubic-bezier(0.98, 0.02, 0.97, 0.12) infinite both;
}
@keyframes ring {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 1;
  }
}
