.box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: gold;
  overflow: hidden;
}
.box .center {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}
.box .center .red {
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: hidden;
}
.box .center .red .rect {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  background-color: yellow;
}
