.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #e0f0e5;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.frame .center .tree {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 300px;
  transform: translate(-50%, -50%);
}
.frame .center .roots {
  position: absolute;
  left: 63px;
  top: 60px;
  width: 4px;
  height: 200px;
  background-color: #e8c87e;
  border-radius: 3px;
  z-index: 2;
  animation: scaleY 0.7s ease-in-out both;
  transform-origin: 50% 100%;
}
.frame .center .roots::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 4px;
  border-radius: 4px;
  background-color: #000;
  transform: translateX(-50%);
}
.frame .center .roots .root {
  position: absolute;
  left: 4px;
  width: 20px;
  height: 4px;
  border-radius: 5px;
  background-color: #e8c87e;
  transform-origin: -2px 50%;
}
.frame .center .roots .root.root-1 {
  top: 28px;
  width: 20px;
}
.frame .center .roots .root.root-2 {
  top: 56px;
  width: 27px;
}
.frame .center .roots .root.root-3 {
  top: 84px;
  width: 34px;
}
.frame .center .roots .root.root-4 {
  top: 112px;
  width: 41px;
}
.frame .center .roots .root.root-5 {
  top: 140px;
  width: 48px;
}
.frame .center .roots .root:nth-child(n + 1) {
  transform: rotate(-40deg);
}
.frame .center .roots .root:nth-child(2n) {
  transform: rotate(-140deg);
}
.frame .center .leaf {
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 65px 200px 65px;
  border-color: transparent transparent #e84624 transparent;
  animation: scaleX 1s 0.8s ease-in-out both;
}
.frame .center .leaf::before {
  content: '';
  position: absolute;
  top: 0;
  left: -65px;
  border-style: solid;
  border-width: 0 0 200px 65px;
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}
@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1.1);
  }
  80% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes scaleY {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.1);
  }
  80% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
