.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(14, 12, 12);
  font-family: Consolas;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);

    .typingEffect {
      // width: 0;
      position: absolute;
      top: 50%;
      width: 0;
      // display: inline-block;
      color: #fff;
      white-space: nowrap;
      letter-spacing: 0.15em;
      font-family: monospace;
      font-weight: 700;
      font-size: 28px;
      overflow: hidden;
      border-right: 3px solid sandybrown;
      letter-spacing: 6px;
      font-size: 25px;
      transform: translate(0, -50%);
      animation: borderShake 0.5s infinite,
        typing 6s steps(17) forwards infinite;
    }
  }
}

@keyframes typing {
  40%,
  50% {
    width: 325px;
  }
}

@keyframes borderShake {
  50% {
    border-right-color: transparent;
  }
}
