.frame {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.frame .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.frame .center .banner {
  display: block;
  position: relative;
  width: 80vw;
  height: 40vmin;
  min-width: 300px;
}
.frame .center .banner .swiper-item {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(80vw / 2);
  height: 40vmin;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.frame .center .banner .swiper-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame .center .banner .swiper-item.swiper-mid {
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);
}
.frame .center .banner .swiper-item.swiper-next {
  transform: translate(0, -50%) scale(0.8);
  z-index: 9;
}
.frame .center .banner .swiper-item.swiper-prev {
  transform: translate(-100%, -50%) scale(0.8);
  z-index: 9;
}
