.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  background: radial-gradient(circle, red 13%, orange 26%, #d1d11e 39%, #1ac71a 52%, #1f91dd 65%, #1515c7 78%, #8e29ec 83%);
  height: 100vh;
  background-attachment: fixed;
  overflow-y: auto;
}
.layout .star {
  position: relative;
  border: 100px solid transparent;
  border-bottom: 90px solid red;
}
.layout .star::after {
  content: '';
  position: absolute;
  border: 100px solid transparent;
  border-top: 90px solid red;
  transform: translate(-50%, -50%);
}
