.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #e91e63 0%, #2196f3 100%);
  overflow-y: auto;
}
.layout .container {
  display: grid;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px 0;
}
@media (min-width: 430px) {
  .layout .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 610px) {
  .layout .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 850px) {
  .layout .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
