@min430: ~'(min-width: 430px)';
@min610: ~'(min-width: 610px)';
@min768: ~'(min-width: 768px)';
@min850: ~'(min-width: 850px)';

.layout {
  position: relative;
  // width: 100vw;
  padding-right: calc(100vw - 100%); // 视口减去内容的宽度就是滚动条的宽度
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #e91e63 0%, #2196f3 100%);
  overflow-y: auto;

  .container {
    display: grid;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px 0;

    @media @min430 {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media @min610 {
      & {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media @min850 {
      & {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
