.menuBtn .button {
  --width: calc(var(--x) * 1px);
  --height: calc(var(--y) * 1px);
  --lineHeight: calc(var(--height) / 7);
  --durTime: calc(var(--transitionDuringTime) * 1s);
  --color: var(--color);
  position: relative;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  --translateV: calc(var(--lineHeight) * 3);
}
.menuBtn .button.defaultStyle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menuBtn .button .line {
  position: absolute;
  width: var(--width);
  height: var(--lineHeight);
  background-color: var(--color);
  border-radius: 3px;
}
.menuBtn .button .line-top {
  top: 0;
  left: 0;
}
.menuBtn .button .line-mid {
  top: calc(var(--lineHeight) * 3);
  left: 0;
}
.menuBtn .button .line-bottom {
  bottom: 0;
  left: 0;
}
.menuBtn .button.open .line-top {
  animation: line-top-open var(--durTime) forwards;
}
.menuBtn .button.open .line-mid {
  animation: line-mid-open var(--durTime) forwards;
}
.menuBtn .button.open .line-bottom {
  animation: line-bottom-open var(--durTime) forwards;
}
.menuBtn .button.close .line-top {
  animation: line-top-close var(--durTime) forwards;
}
.menuBtn .button.close .line-mid {
  animation: line-mid-close var(--durTime) forwards;
}
.menuBtn .button.close .line-bottom {
  animation: line-bottom-close var(--durTime) forwards;
}
@keyframes line-top-open {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, var(--translateV)) rotate(0deg);
  }
  100% {
    transform: translate(0, var(--translateV)) rotate(45deg);
  }
}
@keyframes line-mid-open {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(45deg);
  }
}
@keyframes line-bottom-open {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, calc(-1 * var(--translateV))) rotate(0deg);
  }
  100% {
    transform: translate(0, calc(-1 * var(--translateV))) rotate(-45deg);
  }
}
@keyframes line-top-close {
  0% {
    transform: translate(0, var(--translateV)) rotate(45deg);
  }
  50% {
    transform: translate(0, var(--translateV)) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes line-mid-close {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes line-bottom-close {
  0% {
    transform: translate(0, calc(-1 * var(--translateV))) rotate(-45deg);
  }
  50% {
    transform: translate(0, calc(-1 * var(--translateV))) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
