.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #414e88;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.frame .center .lock {
  box-sizing: content-box;
  position: absolute;
  width: 160px;
  height: 160px;
  padding-top: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.frame .center .lock .hand {
  position: absolute;
  top: 0;
  left: 50%;
  width: 120px;
  height: 130px;
  background-color: #fff;
  transform: translateX(-50%);
  border-radius: 60px 60px 0 0;
  box-shadow: inset 4px 4px 1px 0 rgba(255, 255, 255, 0.8), inset -3px -2px 1px 0 rgba(0, 0, 0, 0.3), 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.frame .center .lock .hand::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 10px;
  width: 100px;
  height: 130px;
  border-radius: 50px 50px 0 0;
  background-color: #414e88;
  transform: translateX(-50%);
  box-shadow: 4px 4px 1px 0 rgba(255, 255, 255, 0.8), -3px -2px 1px 0 rgba(0, 0, 0, 0.3), inset 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.frame .center .lock .panel {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 1px 0 rgba(255, 255, 255, 0.8), inset -1px -2px 1px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.frame .center .lock .panel:hover .dial {
  transform: translate(-50%, -50%) rotate(360deg);
}
.frame .center .lock .panel .dial {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease-in-out;
}
.frame .center .lock .panel .dial .needle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #ccc;
  transform: translate(-50%, 0);
  transform-origin: 50% 75px;
}
.frame .center .lock .panel .dial .needle.needle-0 {
  transform: translate(-50%, 0) rotate(0deg);
}
.frame .center .lock .panel .dial .needle.needle-1 {
  transform: translate(-50%, 0) rotate(9deg);
}
.frame .center .lock .panel .dial .needle.needle-2 {
  transform: translate(-50%, 0) rotate(18deg);
}
.frame .center .lock .panel .dial .needle.needle-3 {
  transform: translate(-50%, 0) rotate(27deg);
}
.frame .center .lock .panel .dial .needle.needle-4 {
  transform: translate(-50%, 0) rotate(36deg);
}
.frame .center .lock .panel .dial .needle.needle-5 {
  transform: translate(-50%, 0) rotate(45deg);
}
.frame .center .lock .panel .dial .needle.needle-6 {
  transform: translate(-50%, 0) rotate(54deg);
}
.frame .center .lock .panel .dial .needle.needle-7 {
  transform: translate(-50%, 0) rotate(63deg);
}
.frame .center .lock .panel .dial .needle.needle-8 {
  transform: translate(-50%, 0) rotate(72deg);
}
.frame .center .lock .panel .dial .needle.needle-9 {
  transform: translate(-50%, 0) rotate(81deg);
}
.frame .center .lock .panel .dial .needle.needle-10 {
  transform: translate(-50%, 0) rotate(90deg);
}
.frame .center .lock .panel .dial .needle.needle-11 {
  transform: translate(-50%, 0) rotate(99deg);
}
.frame .center .lock .panel .dial .needle.needle-12 {
  transform: translate(-50%, 0) rotate(108deg);
}
.frame .center .lock .panel .dial .needle.needle-13 {
  transform: translate(-50%, 0) rotate(117deg);
}
.frame .center .lock .panel .dial .needle.needle-14 {
  transform: translate(-50%, 0) rotate(126deg);
}
.frame .center .lock .panel .dial .needle.needle-15 {
  transform: translate(-50%, 0) rotate(135deg);
}
.frame .center .lock .panel .dial .needle.needle-16 {
  transform: translate(-50%, 0) rotate(144deg);
}
.frame .center .lock .panel .dial .needle.needle-17 {
  transform: translate(-50%, 0) rotate(153deg);
}
.frame .center .lock .panel .dial .needle.needle-18 {
  transform: translate(-50%, 0) rotate(162deg);
}
.frame .center .lock .panel .dial .needle.needle-19 {
  transform: translate(-50%, 0) rotate(171deg);
}
.frame .center .lock .panel .dial .needle.needle-20 {
  transform: translate(-50%, 0) rotate(180deg);
}
.frame .center .lock .panel .dial .needle.needle-21 {
  transform: translate(-50%, 0) rotate(189deg);
}
.frame .center .lock .panel .dial .needle.needle-22 {
  transform: translate(-50%, 0) rotate(198deg);
}
.frame .center .lock .panel .dial .needle.needle-23 {
  transform: translate(-50%, 0) rotate(207deg);
}
.frame .center .lock .panel .dial .needle.needle-24 {
  transform: translate(-50%, 0) rotate(216deg);
}
.frame .center .lock .panel .dial .needle.needle-25 {
  transform: translate(-50%, 0) rotate(225deg);
}
.frame .center .lock .panel .dial .needle.needle-26 {
  transform: translate(-50%, 0) rotate(234deg);
}
.frame .center .lock .panel .dial .needle.needle-27 {
  transform: translate(-50%, 0) rotate(243deg);
}
.frame .center .lock .panel .dial .needle.needle-28 {
  transform: translate(-50%, 0) rotate(252deg);
}
.frame .center .lock .panel .dial .needle.needle-29 {
  transform: translate(-50%, 0) rotate(261deg);
}
.frame .center .lock .panel .dial .needle.needle-30 {
  transform: translate(-50%, 0) rotate(270deg);
}
.frame .center .lock .panel .dial .needle.needle-31 {
  transform: translate(-50%, 0) rotate(279deg);
}
.frame .center .lock .panel .dial .needle.needle-32 {
  transform: translate(-50%, 0) rotate(288deg);
}
.frame .center .lock .panel .dial .needle.needle-33 {
  transform: translate(-50%, 0) rotate(297deg);
}
.frame .center .lock .panel .dial .needle.needle-34 {
  transform: translate(-50%, 0) rotate(306deg);
}
.frame .center .lock .panel .dial .needle.needle-35 {
  transform: translate(-50%, 0) rotate(315deg);
}
.frame .center .lock .panel .dial .needle.needle-36 {
  transform: translate(-50%, 0) rotate(324deg);
}
.frame .center .lock .panel .dial .needle.needle-37 {
  transform: translate(-50%, 0) rotate(333deg);
}
.frame .center .lock .panel .dial .needle.needle-38 {
  transform: translate(-50%, 0) rotate(342deg);
}
.frame .center .lock .panel .dial .needle.needle-39 {
  transform: translate(-50%, 0) rotate(351deg);
}
.frame .center .lock .panel .dial .needle:nth-child(5n + 1) {
  height: 18px;
  background-color: #fff;
}
.frame .center .lock .panel .dial .font {
  position: absolute;
  top: 17px;
  left: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  transform-origin: 50% 58px;
}
.frame .center .lock .panel .dial .font.font-0 {
  transform: translateX(-50%) rotate(0deg);
}
.frame .center .lock .panel .dial .font.font-1 {
  transform: translateX(-50%) rotate(45deg);
}
.frame .center .lock .panel .dial .font.font-2 {
  transform: translateX(-50%) rotate(90deg);
}
.frame .center .lock .panel .dial .font.font-3 {
  transform: translateX(-50%) rotate(135deg);
}
.frame .center .lock .panel .dial .font.font-4 {
  transform: translateX(-50%) rotate(180deg);
}
.frame .center .lock .panel .dial .font.font-5 {
  transform: translateX(-50%) rotate(225deg);
}
.frame .center .lock .panel .dial .font.font-6 {
  transform: translateX(-50%) rotate(270deg);
}
.frame .center .lock .panel .dial .font.font-7 {
  transform: translateX(-50%) rotate(315deg);
}
.frame .center .lock .panel .dial .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: inset 2px 4px 1px 0 #ffffff, inset -1px -2px 1px 0 rgba(0, 0, 0, 0.2);
}
