.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #4e7375;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  background-color: palegoldenrod;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.frame .center .container {
  position: relative;
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
}
.frame .center .container .showBox {
  display: flex;
  width: calc(300px * var(--count));
  transition: all calc(var(--transitionTime) * 1s) ease-in-out;
}
.frame .center .container .showBox .slider {
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
}
.frame .center .container .showBox .slider.slider-0 {
  background-color: royalblue;
}
.frame .center .container .showBox .slider.slider-1 {
  background-color: rosybrown;
}
.frame .center .container .showBox .slider.slider-2 {
  background-color: #d441e1;
}
.frame .center .container .showBox .slider.slider-3 {
  background-color: #e14156;
}
.frame .center .container .circles {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 20px;
  gap: calc(var(--circleGap) * 1px);
  transform: translate(-50%, 0);
}
.frame .center .container .circles .circle {
  width: calc(var(--circleR) * 1px);
  height: calc(var(--circleR) * 1px);
  border: calc(var(--circleBorder) * 1px) solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.frame .center .container .circles .active {
  position: absolute;
  left: 0px;
  top: 50%;
  width: calc(var(--activeR) * 1px);
  height: calc(var(--activeR) * 1px);
  background-color: #fff;
  border-radius: 50%;
  transition: all calc(var(--transitionTime) * 1s) ease-in-out;
}
