.frame {
  height: 100vh;
  background-color: #27ae60;

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .makeCircle(@len, @index:0) when(@index<@len) {
      .circle-@{index} {
        @point: (12 + 6 * @index);

        .point {
          position: absolute;

          .fill {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: yellow;
            animation: showAndDis 2.5s linear (@index / 3s) infinite alternate
              both;
          }

          .makePoint(@pointLen, @pointIdx:0, @circleIdx)
            when(@pointIdx < @pointLen) {
            &.point-@{pointIdx} {
              @angle: (360deg / @pointLen);
              @move: 40px + 15px * @circleIdx;
              transform: translate(0, (-@move)) rotate(@pointIdx * @angle);
              transform-origin: 0 (@move);
            }
            .makePoint(@pointLen, @pointIdx + 1, @circleIdx);
          }

          .makePoint(@point, 0, @index);
        }
      }
      .makeCircle(@len, @index + 1);
    }

    .makeCircle(12);
  }
}

@keyframes showAndDis {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
