.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.frame .center .box {
  position: relative;
  flex-grow: 1;
  flex-basis: 20%;
  transition: all 0.3s ease-in-out;
  color: transparent;
  cursor: pointer;
}
.frame .center .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 700;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.3s ease-in-out;
}
.frame .center .box:hover {
  flex-basis: 100%;
}
.frame .center .box:hover .text {
  color: #000;
  transform: translate(-50%, -50%) scale(1);
}
.frame .center .box:nth-child(2n) {
  background-color: red;
}
.frame .center .box:nth-child(2n + 1) {
  background-color: yellow;
}
