.frame {
  position: relative;
  background-color: #2b4147;
}
.frame .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #7a7a7a;
}
.frame .center .thermostat {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f2f2f2;
  overflow: hidden;
}
.frame .center .thermostat .ring {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 10px;
  background: red;
  border-radius: 50%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: inset 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.frame .center .thermostat .ring .bottomOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95px;
  height: 95px;
  background-color: #f2f2f2;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.frame .center .thermostat:hover .control .line {
  transform: rotate(-30deg);
}
.frame .center .thermostat:hover .control .mid {
  transform: translate3d(-50px, 0, 0) scale(0.5);
  opacity: 0;
}
.frame .center .thermostat:hover .control .mid.two {
  transform: translate3d(0px, 0, 0);
  opacity: 1;
}
.frame .center .thermostat .control {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 35px;
  left: 35px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.frame .center .thermostat .control .line {
  position: absolute;
  width: 1px;
  height: 12px;
  left: 50%;
  top: 0;
  background-color: #000;
  transform: rotate(-60deg);
  transform-origin: 0 65px;
  transition: 0.5s ease-in-out;
}
.frame .center .thermostat .control .top {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding-left: 5px;
}
.frame .center .thermostat .control .mid {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  letter-spacing: -8px;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  padding-right: 12px;
  transition: all 0.5s ease-in-out;
  color: #873183;
}
.frame .center .thermostat .control .mid span {
  position: absolute;
  top: -5px;
  right: 23px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.frame .center .thermostat .control .mid.two {
  transform: translate3d(50px, 0, 0) scale(0.5);
  opacity: 0;
}
.frame .center .thermostat .control .bottom {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}
